*.class
.idea
*.iml
target/
OpenAL64.dll
bulletjme64.dll
lwjgl64.dll
voxel.settings
voxel-cascade.log


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
